    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4959773968938981"
     crossorigin="anonymous"></script>
<!-- Ads By Google Open it. May Be change Your Life. -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4959773968938981"
     data-ad-slot="5041672130"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<p>thh</p>
