<div class="w-25 border rounded m-5">
 <h5  class="fw-bold">Design & Creative Services</h5>
 <img src="jsdlk" alt="image" class ="border img-fluid rounded w-25 h-25 m-5">
 <ul>
  <li>UI/UX Design</li>
  <li>Product Design</li>
  <li>Brand Designing</li>
  <li>Creative Content & Visual Assets</li>
  <li>Prototyping & Wireframing</li>
  <li>Etc.</li>
 </ul>
 <a href="/uiux" class="btn btn-primary">Explore Services</a>
</div>
<!-- <div class="w-25 border rounded m-5">
 <h5  class="fw-bold">Web Development</h5>
 <img src="jsdlk" alt="image" class ="border img-fluid rounded w-25 h-25 m-5">
 <ul>
  <li>Frontend Development</li>
  <li>Product Design</li>
  <li>Brand Designing</li>
  <li>Creative Content & Visual Assets</li>
  <li>Prototyping & Wireframing</li>
  <li>Etc.</li>
 </ul>
</div> -->
