<div class=" border rounded h-30 w-auto mt-4 mx-5 p-3 align-items-left d-flex" id="skill">
  <div class="m-5">
    <h3 class="text-primary fw-bold justify-content-left  "> UI/UX & Digital Design
    </h3>
    
  <ul>
    <li> Website UI Design</li>
    <li>
      Mobile App UI Design</li>

    <li>Dashboard UI Design
    </li>

    <li>Interaction Design
    </li>
    <li>Wireframes & Prototypes
    </li>
    <li>UX Research & Testing
    </li>
    <li>Design Systems & Style Guides
    </li>
  </ul>

<a href="/contact" class="btn btn-primary mt-2">Explore Services</a>

</div>
<img src="sd" alt="gs" class="border w-75">
</div>
<div class="border rounded h-30 w-auto mt-4 mx-5 p-3 align-items-left d-flex">
  <img src="sd" alt="gs" class="border w-75">
  <div class="m-5">
    <h3 class="text-primary fw-bold justify-content-left "> Product & Industrial Design
    </h3>
    
  <ul>
    <li>Consumer Product Design</li>

<li>Electronic Device Design
</li>
<li>Furniture & Homeware Design
</li>
Packaging Design
<li></li>
<li>Concept Sketching & Prototyping
</li>
<li>3D Modeling & Rendering
  </li>
  </ul>

<a href="/contact" class="btn btn-primary mt-2">Explore Services</a>

</div>

</div>
<div class="border rounded h-30 w-auto mt-4 mx-5 p-3 align-items-left d-flex">
  <div class="m-5">
    <h3 class="text-primary fw-bold justify-content-left "> Fabric, Textile & Fashion Design
    </h3>
<ul>
  <li>Fabric Pattern Design</li>

<li>Textile Printing & Weaving Design</li>

<li>Apparel & Fashion Design</li>

<li>Fashion Illustration & Concept Art</li>

<li>Accessories & Footwear Design</li>

<li>Surface & Material Design</li>

<li>Color & Material Styling</li>

<li>Trend Forecasting & Mood Boards</li>
</ul>

<a href="/contact" class="btn btn-primary mt-2">Explore Services</a>

</div>
<img src="sd" alt="gs" class="border w-75">
</div>


<div class="border rounded h-30 w-auto mt-4 mx-5 p-3 align-items-left d-flex">
  <img src="sd" alt="gs" class="border w-75">
  <div class="m-5">
    <h3 class="text-primary fw-bold justify-content-left "> Creative Strategy & Content
    </h3>
    
 <ul>
  <li>Creative Direction</li>

<li>Concept Development</li>

<li>Storyboarding & Mockups</li>

<li>Visual Storytelling</li>

<li>Marketing & Campaign Design</li>
 </ul>

<a href="/contact" class="btn btn-primary mt-2">Explore Services</a>

</div>

</div>

<div class="border rounded h-30 w-auto mt-4 mx-5 p-3 align-items-left d-flex">
  <div class="m-5">
    <h3 class="text-primary fw-bold justify-content-left "> Graphic & Communication Design
    </h3>
    
  <ul>
    <li>Posters, Flyers & Banners</li>

<li>Social Media Graphics</li>

<li>Infographics & Data Visualization</li>

<li>Brochures & Catalogs</li>

<li>Presentation Templates</li>

<li>Illustrations & Iconography</li>
  </ul>

<a href="/contact" class="btn btn-primary mt-2">Explore Services</a>

</div>
<img src="sd" alt="gs" class="border w-75">
</div>
<div class="border rounded h-30 w-auto mt-4 mx-5 p-3 align-items-left d-flex">
  <img src="sd" alt="gs" class="border w-75">
  <div class="m-5">
    <h3 class="text-primary fw-bold justify-content-left "> Motion & Interactive Design
    </h3>
    
 <ul>
  <li>Motion Graphics</li>

<li>Animation for Web & App</li>

<li>Interactive UI Animations</li>

<li>Video Graphics & Explainers</li>

<li>Lottie & Micro Animations</li>
 </ul>

<a href="/contact" class="btn btn-primary mt-2">Explore Services</a>

</div>

</div>









