


<footer class="footer">
    <div class="container-fluid px-3">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h5>About Us</h5>
                <p style="color: black;">Professional portfolio showcasing our best work in web development, design, and digital
                    solutions.</p>
            </div>
            <div class="col-md-4 mb-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-decoration-none">Home</a></li>
                    <li><a href="{% url 'projects' %}" class="text-decoration-none">Projects</a></li>
                    <li><a href="{% url 'services' %}" class="text-decoration-none">Services</a></li>
                    <li><a href="{% url 'contact' %}" class="text-decoration-none">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-4">
                <h5>Contact</h5>
                <ul class="list-unstyled">
                    <li><i class="fas fa-envelope me-2"></i><a
                            href="mailto:abdullah8j03@gmail.com">abdullah8j03@gmail.com</a></li>
                    <li><i class="fas fa-phone me-2"></i><a href="tel:03258262310">03258262310</a></li>
                    <li><i class="fas fa-map-marker-alt me-2"></i> <a
                            href="https://maps.app.goo.gl/z9bK8kntxqz4SfMn9" target="_blank">Lahore,Pakistan</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <p class="mb-0">&copy; 2023 Portfolio Site. All rights reserved.</p>
        </div>
    </div>
</footer>
<!-- 2nd footer -->

