<!-- <script defer src="https://cdn.vercel-insights.com/script.js" data-token="prj_HWtsm9SO122z7yr8rfJKzOJGheqV"></script> -->
<!-- speed insights -->
<!-- <script src="https://speed-insights.vercel.app/script.js" defer></script> -->



<!-- vercel analatics -->
<!-- <script defer src="https://va.vercel-scripts.com/script.js"></script> -->


<!-- <script>
    import { injectSpeedInsights } from '@vercel/speed-insights';
    
    injectSpeedInsights();
    </script> -->

























<!-- google adsense -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4959773968938981"
    crossorigin="anonymous"></script>




<!-- Google tag (gtag.js) analatics-->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5K583RPRS7"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-5K583RPRS7');
</script>









<!-- Google ads block -->
 <!-- compulsory for adsense verification -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4959773968938981"
     crossorigin="anonymous"></script>
     <!-- compulsory for adsense add showing -->
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>


<!--for specific ad type -->
<!-- 
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4959773968938981"
     data-ad-slot="2497665238"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins> -->

































<!-- https://clarity.microsoft.com/ -->
<script type="text/javascript">
    (function (c, l, a, r, i, t, y) {
        c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
        t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
    })(window, document, "clarity", "script", "r5xon4u565");
</script>
