{% extends 'layouts/app.html' %}

{% block content %}

{% if user.is_superuser %}
You are super user
{% endif %}


{% if not user.is_superuser %}

<!-- {% include 'dashboard/user_purchase_data.html' %} -->


<div class="m-5" > Demo Data For EasyPaisa api Approval specially for Django  </div>
<p>right now we are providing App Development, web Development And hosting providing services with 8gb RAM 1TB storage per client <br> Everything is managed under vortfolio  </p>
{% include 'dashboard/user_purchase_data.html' %}

<div class="w-25 border rounded m-5">
 <h5  class="fw-bold">Design & Creative Services</h5>
 <img src="jsdlk" alt="image" class ="border img-fluid rounded w-25 h-25 m-5">
 <ul>
  <li>UI/UX Design</li>
  <li>Product Design</li>
  <li>Brand Designing</li>
  <li>Creative Content & Visual Assets</li>
  <li>Prototyping & Wireframing</li>
  <li>Etc.</li>
 </ul>
</div>


{% endif %}



{% endblock %}